/* HEADER */

body{
	margin: 0;
	font-family: arial
}
header{
	background-color: #444;
	padding: 20px;
	height: 100px;
}
h1{
	margin: 10px 20px;
}
header div{
	text-align: center;
	margin: 0px
}
nav #login{
	display: inline-block;
	float: right;
	margin: 0px 10px 0 0;
}
nav ul{
	margin: 40px 10px 20px 10px;
	
}
li{
	display: inline-block;
	background: #999;
	color: white;
	padding: 5px 15px;
	margin: 0 75px 0 0;
}
nav ul li a{
	color: lightgrey;
	text-align: center;
}
a:hover{
	color: darkblue;
}
.topnav{
	text-align: center;
}

/* BLOCKS */

.block{
	background-color: #999; 
	width: 860px; 
	height: 200px;
	margin: 40px 20px 0 500px;
}
.section1{
	float: left;
	width: 200px; 
	height: 220px;
	margin: 40px 10px 0 500px;
	background-color: #999;	
	background-image: "img_iphone6.png";
}
.section{
	float: left;
	width: 200px; 
	height: 220px;
	margin: 40px 10px 0 10px;
	background-color: #999;	
}
.section1 img{ 
	width: 200px;
	height: 220px; 
	float: left;
}
.section img{
	width: 200px;
	height: 220px; 
	float: left;
}
/* FOOTER */

footer{
	position: absolute;
	bottom: 0;
	width: 100%;
	background-color: black;
	color: white;
}




